body {
    font-family: 'Arial', sans-serif;
    background-color: #e7f5e9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #1a533b;
    padding: 20px 0;
}

h3 {
    color: #1a533b;
    text-align: center;
    margin-top: 20px;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.add-button {
    display: block;
    margin: 20px auto;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: #218838;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
    font-size: 1rem;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.table th {
    background-color: #1a533b;
    color: white;
    font-weight: bold;    
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #c9f2e3e5;
}

.campo {
    word-wrap: break-word;
    max-width: 150px;
}

.valor-alto {
    color: #d9534f;
    font-weight: bold;
}

/* Ícones */
.icones button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
    font-size: 18px;
    transition: color 0.3s;
}

.icon-move {
    color: #193e88;
}

.icon-move:hover {
    color: #4caf4f6c;
}

.icon-edit {
    color: #ffc107;
}

.icon-edit:hover {
    color: #e0a800;
}

.icon-delete {
    color: #F24171;
}

.icon-delete:hover {
    color: #c82333;
}
.icon-delete:hover,
.icon-move:hover,
.icon-edit:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .table th, .table td {
        text-align: left;
        padding: 8px;
    }

    .container {
        padding: 10px;
    }

    .add-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
